* {
  margin: 0;
  padding: 0;
}

/* 流动布局（fluid grid)-----屏幕宽度<600px时，进行浮动 */
@media screen and (max-width: 600px) {

  th,
  td {
    display: inline-block;
  }

  #keyword-box {
    width: 86vmin !important;
    height: 10vmin !important;
  }

  #keyword-box>div {
    width: 76%;
    position: fixed;
    left: 50%;
    margin-left: -38%;
  }

  #keyword-box>div>div {
    height: 10vmin !important;
  }

  #keyword-box>div>div>input {
    height: 10vmin !important;
  }

  #btn-search {
    position: fixed;
    margin-left: -5vmin;
    left: 50%;
    padding-top: 12%;
    visibility: hidden;
  }

  #btn-settings {
    position: fixed !important;
    right: 5% !important;
    top: 3% !important;
  }

  /* 移动端抽屉样式 */
  #app>div>div>div {
    width: 75% !important;
  }
}

html,
body {
  display: flex;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0);
}

#gradient-canvas {
  position: absolute;
  z-index: -2;
  width: 100%;
  height: 100%;
  --gradient-color-1: #ef008f;
  --gradient-color-2: #6ec3f4;
  --gradient-color-3: #7038ff;
  --gradient-color-4: #ffba27;
}

/* 已删除
#scene {
    width: 12vmin;
    height: 12vmin;
    position: fixed;
    top: 2%;
    left: 102%;
    margin-left: -21vmin;
    background: rgba(255, 255, 255, 0);
}
*/

table {
  width: 86vmin;
  text-decoration: none;
  position: fixed;
  top: 12em;
  left: 50%;
  margin-left: -43vmin;
}

th,
td {
  padding: 0;
}

#search {
  width: 80vmin;
}

/* 选择栏样式 */
.el-select {
  width: 80px;
}

/* 搜索按钮样式 */

#btn-search {
  width: 6vmin;
  height: 6vmin;
}

#btn-search>button {
  padding: 2vmin;
  background: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(4px);
  color: rgb(32, 32, 32);
  box-shadow: inset 2px 2px 2px 0 rgba(255, 255, 255, 0.5), 7px 7px 20px 0 rgba(0, 0, 0, 0.1), 4px 4px 5px 0 rgba(0, 0, 0, 0.1);
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
}

/* 添加非线性动画 */
#btn-search>button:hover {
  -webkit-transform: scale(1.15);
  transform: scale(1.15);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
}

/* 设置按钮样式 */
#btn-settings {
  position: fixed;
  top: 5%;
  right: 3%;
}

#btn-settings>button {
  background: none;
  border: none;
  color: #000;
}

#btn-settings>button {
  transform: scale(1.5) rotate(-90deg);
  -webkit-transform: scale(1.5) rotate(-90deg);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
}

#btn-settings>button:hover {
  transform: scale(2) rotate(90deg);
  -webkit-transform: scale(2) rotate(90deg);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
}

/* 设置中的卡片样式 */
.text {
  font-size: 15px;
}

.item {
  padding: 12px 0;
}

.box-card {
  width: 90%;
  margin: 5px auto;
}

#el-drawer__title {
  margin-bottom: 16px;
}

/* 设置项开关按钮样式 */

#app>div>div>div>section>div:nth-child(1)>div.el-card__body>div:nth-child(1)>div>span {
  position: fixed;
  right: 5%;
}

#app>div>div>div>section>div {
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: inset 2px 2px 2px 0 rgba(255, 255, 255, 0.5), 7px 7px 20px 0 rgba(0, 0, 0, 0.1), 4px 4px 5px 0 rgba(0, 0, 0, 0.1);
  /* 非线性动画-出 */
  transform: scale(1);
  -webkit-transform: scale(1);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
}

/* 非线性动画-入 */
#app>div>div>div>section>div:hover {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
}

/*选项样式 */

#keyword-box>div>div>div {
  border-radius: 30px 0 0 30px;
  background: rgba(255, 255, 255, 0.85);
  color: rgb(32, 32, 32);
  backdrop-filter: blur(4px);
}

body>div.el-select-dropdown {
  background: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(4px);
  border-radius: 20px;
  box-shadow: inset 2px 2px 2px 0 rgba(255, 255, 255, 0.5), 7px 7px 20px 0 rgba(0, 0, 0, 0.1), 4px 4px 5px 0 rgba(0, 0, 0, 0.1);
}

/* 修复选项直角问题 */
body>div.el-select-dropdown.el-popper>div.el-scrollbar>div.el-select-dropdown__wrap.el-scrollbar__wrap>ul>li {
  background: none;
  transform: scale(1);
  -webkit-transform: scale(1);
  transition: transform 0.1s ease-in-out;
  -webkit-transition: -webkit-transform 0.1s ease-in-out;
}

body>div.el-select-dropdown.el-popper>div.el-scrollbar>div.el-select-dropdown__wrap.el-scrollbar__wrap>ul>li:hover {
  transform: scale(1.25);
  -webkit-transform: scale(1.25);
  transition: transform 0.1s ease-in-out;
  -webkit-transition: -webkit-transform 0.1s ease-in-out;
}

/* 输入框样式 */
/* .el-input {
    width: 90%;
    opacity: 0.75;
} */

#keyword-box>div>div>input {
  font-size: 16px;
  color: rgb(32, 32, 32);
  height: 6vmin;
  border-radius: 0 30px 30px 0;
  background: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(4px);
}

/* 输入框占位符颜色 */
#keyword-box>div>div>input::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #888888;
}

input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #888888;
}

input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #888888;
}

input::-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #888888;
}

/* 搜索框样式 */

#keyword-box {
  width: 76vmin;
  height: 6vmin;
  transform: scale(1);
  -webkit-transform: scale(1);
  transition: transform 0.3s ease-in-out;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
}

#keyword-box:hover {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
}

#keyword-box>div>div {
  height: 6vmin;
  border-radius: 5rem;
  box-shadow: inset 2px 2px 2px 0 rgba(255, 255, 255, 0.5), 7px 7px 20px 0 rgba(0, 0, 0, 0.1), 4px 4px 5px 0 rgba(0, 0, 0, 0.1);
}

#search-box:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

/* 设置抽屉 */
#app>div>div>div {
  background: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(4px);
}

body>div.el-notification.right {
  background: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(4px);
}

/* 抽屉列表 - 未启用
#app > div > div > div > section > div {
  padding-left: 0px;
} */

/* 已删除，未启用
.button {
    width: 100%;
    height: 6vmin;
    color: #fff;
    border-radius: 5rem;
    font-weight: 500;
    font-size: 2.2vmin;
    text-align: center;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0 rgba(255, 255, 255, 0.5), 7px 7px 20px 0 rgba(0, 0, 0, 0.1), 4px 4px 5px 0 rgba(0, 0, 0, 0.1);
    outline: none;
}

.button {
    border: none;
    transition: all 0.3s ease;
    overflow: hidden;
}

.button:after {
    position: absolute;
    content: ' ';
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1fd1f9;
    background-image: linear-gradient(315deg, #1fd1f9 0%, #b621fe 74%);
    transition: all 0.3s ease;
}

.button:hover {
    background: transparent;
    box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.5), -4px -4px 6px 0 rgba(116, 125, 136, 0.2),
    inset -4px -4px 6px 0 rgba(255, 255, 255, 0.5), inset 4px 4px 6px 0 rgba(116, 125, 136, 0.3);
    color: #fff;
}

.button:hover:after {
    -webkit-transform: scale(2) rotate(180deg);
    transform: scale(2) rotate(180deg);
    box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.5), -4px -4px 6px 0 rgba(116, 125, 136, 0.2),
    inset -4px -4px 6px 0 rgba(255, 255, 255, 0.5), inset 4px 4px 6px 0 rgba(116, 125, 136, 0.3);
}
*/

@keyframes sun {
  100% {
    background-position: -400% 0;
  }
}