<!--
 * @Author: elijah
 * @Date: 2021-11-26 14:13:24
 * @LastEditTime: 2022-01-16 00:07:27
 * @LastEditors: Elijah
 * @Description: 打开koroFileHeader查看配置 进行设置: https://github.com/OBKoro1/koro1FileHeader/wiki/%E9%85%8D%E7%BD%AE
 * @FilePath: \bdLite\index.html
-->
<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1,minimum-scale=0.5,maximum-scale=2.0,user-scalable=yes" />
    <title>S-light</title>
    <link rel="stylesheet" href="./css/index.css" />
    <link rel="shortcut icon" href="https://timber.oss-cn-chengdu.aliyuncs.com/img/utool_up/QQ%E5%9B%BE%E7%89%8720220111125629.png" />
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css" />

    <!-- import Vue before Element -->
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <!-- import JavaScript -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  </head>

  <body>
    <div id="app">
      <form name="search">
        <table>
          <tr>
            <td id="search">
              <div id="keyword-box">
                <div>
                  <el-input placeholder="请输入内容" v-model="input">
                    <el-select v-model="selectUrl" slot="prepend" placeholder="百度" id="select-box">
                      <el-option label="百度" value="https://www.baidu.com/s?wd="></el-option>
                      <el-option label="必应" value="https://cn.bing.com/search?q="></el-option>
                      <el-option label="谷歌" value="https://www.google.com/search?q="></el-option>
                      <el-option label="B站" value="https://search.bilibili.com/all?keyword="></el-option>
                      <el-option label="油管" value="https://www.youtube.com/results?search_query="></el-option>
                    </el-select>
                  </el-input>
                </div>
              </div>
            </td>
            <!-- 搜索按钮 -->
            <td id="btn-search">
              <!-- <button class="button" type="submit" @click="bottomForm">搜索:)</button> -->
              <el-button icon="el-icon-search" circle size="medium" @click="bottomForm"></el-button>
            </td>
            <!-- 设置中心抽屉按钮 -->
            <td id="btn-settings">
              <el-button @click="drawer = true" circle size="medium" icon="el-icon-s-tools"></el-button>
            </td>
          </tr>
        </table>
      </form>

      <!-- 设置抽屉 -->
      <el-drawer title="设置中心" :visible.sync="drawer" :direction="direction">
        <div>
          动态页面效果
          <el-switch v-model="dynamicBg" active-color="#13ce66" inactive-color="#ff4949" @change="dynamicBgSwitch()"></el-switch>
        </div>
      </el-drawer>
    </div>

    <canvas id="gradient-canvas" data-js-darken-top data-transition-in> </canvas>
  </body>

  <!-- import 动态地球 -->
  <script type="module" src="./javascript/earth.js"></script>
  <!-- import 动态背景 -->
  <script type="text/javascript" src="./javascript/bg.js"></script>

  <!-- 全局 index.js -->
  <script>
    new Vue({
      el: '#app',
      data() {
        return {
          // 输入框内容
          input: '',
          // 选择的URL，默认百度
          selectUrl: 'https://www.baidu.com/s?wd=',
          // 抽屉
          drawer: false,
          // 抽屉弹出方向
          direction: 'rtl',
          // 动态背景启用
          dynamicBg: true
        }
      },
      // 生命周期函数
      created() {
        this.initDynamicBackground()
      },

      // 方法区
      methods: {
        // 初始化动态背景
        initDynamicBackground() {
          gradient.initGradient('#gradient-canvas')
        },

        // 控制动态背景按钮监听函数
        dynamicBgSwitch: async function () {
          if (this.dynamicBg == false) {
            // 暂停动态背景
            gradient.pause()
          }
          if (this.dynamicBg == true) {
            // 播放动态背景
            gradient.play()
          }
        },

        // 点击搜索事件
        bottomForm() {
          const URL = this.selectUrl
          const a = this.input
          window.open(URL + a)
          return false
        }
      }
    })
  </script>
</html>
