* {
  margin: 0;
  padding: 0;
}

html,
body {
  display: flex;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0);
}

#gradient-canvas {
  position: absolute;
  z-index: -2;
  width: 100%;
  height: 100%;
  --gradient-color-1: #ef008f;
  --gradient-color-2: #6ec3f4;
  --gradient-color-3: #7038ff;
  --gradient-color-4: #ffba27;
}

table {
  width: 86vmin;
  text-decoration: none;
  position: fixed;
  top: 12em;
  left: 50%;
  margin-left: -43vmin;
}

th,
td {
  padding: 0;
}

#search {
  width: 80vmin;
}

/* 选择栏样式 */
.el-select {
  width: 80px;
}

/* 搜索按钮样式 */
#btn-search {
  width: 6vmin;
  height: 6vmin;
}

#btn-search>button {
  padding: 2vmin;
  background: rgba(255, 255, 255, 0.75);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  color: rgb(32, 32, 32);
  box-shadow: inset 2px 2px 2px 0 rgba(255, 255, 255, 0.5), 7px 7px 20px 0 rgba(0, 0, 0, 0.1), 4px 4px 5px 0 rgba(0, 0, 0, 0.1);
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
}

/* 添加非线性动画 */
#btn-search>button:hover {
  -webkit-transform: scale(1.15);
  transform: scale(1.15);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
}

/* 设置按钮样式 */
#btn-settings {
  position: fixed;
  top: 5%;
  right: 3%;
}

#btn-settings>button {
  background: rgba(255, 255, 255, 0) !important;
  border: none;
  color: #000;
}

#btn-settings>button {
  -webkit-transform: scale(1.5) rotate(-90deg);
  transform: scale(1.5) rotate(-90deg);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
}

#btn-settings>button:hover {
  -webkit-transform: scale(2) rotate(90deg);
  transform: scale(2) rotate(90deg);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
}

/* 设置中的卡片样式 */
.text {
  font-size: 15px;
}

.item {
  padding: 12px 0;
}

.box-card {
  width: 90%;
  margin: 5px auto;
}

#el-drawer__title {
  margin-bottom: 16px;
}

/* 设置项开关按钮样式 */
#app>div>div>div>section>div:nth-child(1)>div.el-card__body>div:nth-child(1)>div>span {
  position: fixed;
  right: 5%;
}

#app>div>div>div>section>div {
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: inset 2px 2px 2px 0 rgba(255, 255, 255, 0.5), 7px 7px 20px 0 rgba(0, 0, 0, 0.1), 4px 4px 5px 0 rgba(0, 0, 0, 0.1);
  /* 非线性动画-出 */
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
}

/* 非线性动画-入 */
#app>div>div>div>section>div:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
}

/*选项样式 */
.el-input-group__prepend {
  border-radius: 30px 0 0 30px !important;
  background: rgba(255, 255, 255, 0.75);
  color: rgb(32, 32, 32) !important;
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
}

body>div.el-select-dropdown {
  background: rgba(255, 255, 255, 0.75);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  border-radius: 20px;
  box-shadow: inset 2px 2px 2px 0 rgba(255, 255, 255, 0.5), 7px 7px 20px 0 rgba(0, 0, 0, 0.1), 4px 4px 5px 0 rgba(0, 0, 0, 0.1);
}

/* 修复选项直角问题 */
body>div.el-select-dropdown.el-popper>div.el-scrollbar>div.el-select-dropdown__wrap.el-scrollbar__wrap>ul>li {
  background: none;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: -webkit-transform 0.1s ease-in-out;
  transition: transform 0.1s ease-in-out;
}

body>div.el-select-dropdown.el-popper>div.el-scrollbar>div.el-select-dropdown__wrap.el-scrollbar__wrap>ul>li:hover {
  -webkit-transform: scale(1.25);
  -webkit-transition: -webkit-transform 0.1s ease-in-out;
  transition: transform 0.1s ease-in-out;
  transform: scale(1.25);
}

#keyword-box>div>div>input {
  font-size: 16px;
  color: rgb(32, 32, 32);
  height: 6vmin;
  border-radius: 0 30px 30px 0;
  background: rgba(255, 255, 255, 0.75);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
}

/* 输入框占位符颜色 */
#keyword-box>div>div>input::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #888888;
}

input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #888888;
}

input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #888888;
}

input::-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #888888;
}

/* 搜索框样式 */
#keyword-box {
  width: 76vmin;
  height: 6vmin;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
}

#keyword-box:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
}

.el-input {
  height: 6vmin;
  border-radius: 5rem;
  box-shadow: inset 2px 2px 2px 0 rgba(255, 255, 255, 0.5), 7px 7px 20px 0 rgba(0, 0, 0, 0.1), 4px 4px 5px 0 rgba(0, 0, 0, 0.1);
}

.el-input__inner {
  height: 6vmin !important;
}

.el-input-group__prepend {
  background-color: rgba(255, 255, 255, 0.75) !important;
}

.el-input--suffix {
  border-radius: 30px 0 0 30px;
}

#search-box:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

/* 设置抽屉 */
.el-drawer {
  background-color: rgba(255, 255, 255, 0.5) !important;
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
}

body>div.el-notification.right {
  background: rgba(255, 255, 255, 0.75);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
}

.el-button {
  background:rgba(255, 255, 255, 0.5 ) !important;
}

/* 小彩蛋弹窗 */
.el-message-box {
  background-color: rgba(255, 255, 255, 0.75) !important;
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
}

@keyframes sun {
  100% {
    background-position: -400% 0;
  }
}

/* 流动布局（fluid grid）-----屏幕宽度<600px时，进行浮动 
 * 样式引入顺序会影响优先级，请保持以下条目处于文档尾部，否则会导致页面显示错乱
*/
@media screen and (max-width: 600px) {

  th,
  td {
    display: inline-block;
  }

  #keyword-box {
    width: 86vmin !important;
    height: 10vmin !important;
  }

  #keyword-box>div {
    width: 76%;
    position: fixed;
    left: 50%;
    margin-left: -38%;
  }

  .el-input {
    height: 10vmin !important;
  }

  .el-input__inner {
    height: 10vmin !important;
  }

  #btn-search {
    position: fixed;
    margin-left: -5vmin;
    left: 50%;
    padding-top: 12%;
    visibility: hidden;
  }

  #btn-settings {
    position: fixed !important;
    right: 5% !important;
    top: 3% !important;
    background: rgba(255, 255, 255, 0) !important;
  }

  /* 移动端抽屉样式 */
  #app>div>div>div {
    width: 75% !important;
  }
}